<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SaludAr.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="SaludAr.GUI.Properties.Settings.CadenaDeConexion" connectionString="Data Source=.;Initial Catalog=SaludArDb;Integrated Security=True"/>
  </connectionStrings>
  <applicationSettings>
    <SaludAr.GUI.Properties.Settings>
      <setting name="IdiomaPorDefecto" serializeAs="String">
        <value>es-AR</value>
      </setting>
      <setting name="ClaveCompartida" serializeAs="String">
        <value>SakR6YLvT3l7c90l4V+1LuYgKzqd7o9hBDrD0BEiHSw=</value>
      </setting>
      <setting name="EstaCorrupto" serializeAs="String">
        <value>False</value>
      </setting>
    </SaludAr.GUI.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
